# Homework Assignment 3

2020-09-15: Developed by Jingwie Liu based on a previous homework assignment.

Datafile: "14_Foreign_Exchange_Rates_PureNumeric.csv.csv"

For all problems that involve displaying numerical data, make sure to use an appropriate 'user friendly' data format.  This means use an appropriate number of decimal places, comma sparators on the thousands, etc.  This can easily be done using the string.format() function.

In [1]:
# Some setup ...
# Import some tools
import datetime
import numpy as np
import pandas as pd

# function to show a NumyPy arrray with its attributes
def show(the_array, show_data = 0):
    print("  Dimension: {:}".format(the_array.ndim))
    print("       Size: {:}".format(the_array.size))
    print("      Shape: {:}".format(the_array.shape))    
    print("  Data Type: {:}".format(the_array.dtype))    
    print("  Item Size: {:}".format(the_array.itemsize))
    print("Data Buffer: {:}".format(the_array.data))
    if show_data:
        print(the_array)

## Read the Data and Create the NumPy Arrays

In [2]:
import os
print(os.getcwd())

C:\Users\kayla\OneDrive - Auburn University\INSY6506\Github\ToolsForDataAnalyticsAndModeling\notebooks

In [14]:
# Read the data into a Pandas dataframe and show the first 5 rows (just to "see" the data)
df = pd.read_csv("../data/14_Foreign_Exchange_Rates_PureNumeric.csv")
df.head()

,Index,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,1/3/2000,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,1,1/4/2000,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.6,37.13
2,2,1/5/2000,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.8,37.10
3,3,1/6/2000,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,4,1/7/2000,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [4]:
# Grab the 'BRAZIL - REAL/US$'values as a NumPy array
brazil = df['BRAZIL - REAL/US$'].values
print("Data Type: {:}".format(type(brazil)))
show(brazil)

Data Type: <class 'numpy.ndarray'>
  Dimension: 1
       Size: 5019
      Shape: (5019,)
  Data Type: float64
  Item Size: 8
Data Buffer: <memory at 0x0000025EB0BE8A00>

**Problem 1**: In the next cell or cells, use the NumPy array functions to compute the mean, standard deviation, min, and max values(descriptive statistics) of BRAZIL - REAL/US$ using the **brazil** created above. Make sure that you show the computed values and remember to use appropriate 'user friendly' formats for displaying the numbers.

In [5]:
# Start your solution here ... add additional cells as necessary
#mean value of BRAZIL - REAL/US$
BRAZILmean = brazil[:].mean()
#standard deviation value of BRAZIL - REAL/US$
BRAZILstd = brazil[:].std()
#minimum value of BRAZIL - REAL/US$
BRAZILmin= brazil[:].min()
#maximum value of BRAZIL - REAL/US$
BRAZILmax= brazil[:].max()

print(str.format('The mean exchange rate is {:.2f} Real/US$', BRAZILmean))
print(str.format('The standard deviation is {:.2f} Real/US$', BRAZILstd))
print(str.format('The minimum exchange rate is {:.2f} Real/US$', BRAZILmin))
print(str.format('The maximum exchange rate is {:.2f} Real/US$', BRAZILmax))

The mean exchange rate is 2.55 Real/US$
The standard deviation is 0.72 Real/US$
The minimum exchange rate is 1.54 Real/US$
The maximum exchange rate is 4.26 Real/US$

In [6]:
# Grab some exchange values from asia contries: MALAYSIA,CHINA, and THAILAND , slice as a Pandas dataframe and then store
# the values as a NumPy array
asiadf = df[['MALAYSIA - RINGGIT/US$', 'CHINA - YUAN/US$', 'THAILAND - BAHT/US$']]
asiaarray = asiadf.values
show(asiaarray)

  Dimension: 2
       Size: 15057
      Shape: (5019, 3)
  Data Type: float64
  Item Size: 8
Data Buffer: <memory at 0x0000025EB0C3C6C0>

**Problem 2**: In the next cell or cells, use the NumPy array functions to compute the mean, standard deviation, min, and max values (descriptive statistics) of the exchange rate of the above three Asian countries using the **asiaarray** array created above and then display the computed values. Note that we have three different exchange rates for these three countries - MALAYSIA,CHINA,and THAILAND - so you need to compute the descriptive statistics for all three (hint -- use the axis parameter in the function calls).

In [33]:
# Start your solution here ... add additional cells as necessary
#MEAN VALUES
#mean value of MALAYSIA - RINGGIT/US$
MALAYSIAmean = asiaarray[:,0].mean()
#mean value of CHINA - YUAN/US$
CHINAmean = asiaarray[:,1].mean()
#mean value of THAILAND - BAHT/US$
THAILANDmean = asiaarray[:,2].mean()

#STANDARD DEVIATION VALUES
#standard deviation of MALAYSIA - RINGGIT/US$
MALAYSIAstd = asiaarray[:,0].std()
#standard deviation of CHINA - YUAN/US$
CHINAstd = asiaarray[:,1].std()
#standard deviation of THAILAND - BAHT/US$
THAILANDstd = asiaarray[:,2].std()

#MINIMUM VALUES
#minimum value of MALAYSIA - RINGGIT/US$
MALAYSIAmin = asiaarray[:,0].min()
#minimum value of CHINA - YUAN/US$
CHINAmin = asiaarray[:,1].min()
#minimum value of THAILAND - BAHT/US$
THAILANDmin = asiaarray[:,2].min()

#MAXIMUM VALUES
#maximum value of MALAYSIA - RINGGIT/US$
MALAYSIAmax = asiaarray[:,0].max()
#maximum value of CHINA - YUAN/US$
CHINAmax = asiaarray[:,1].max()
#maximum value of THAILAND - BAHT/US$
THAILANDmax = asiaarray[:,2].max()

print(str.format('The mean exchange rates are {:.2f} Ringgit/US$ (Malaysia); {:.2f} Yuan/US$ (China); and {:.2f} BAHT/US$ (Thailand)', MALAYSIAmean, CHINAmean, THAILANDmean))
print(str.format('The standard deviation of rates are {:.2f} Ringgit/US$ (Malaysia); {:.2f} Yuan/US$ (China); and {:.2f} BAHT/US$ (Thailand)', MALAYSIAstd, CHINAstd, THAILANDstd))
print(str.format('The minimum exchange rates are {:.2f} Ringgit/US$ (Malaysia); {:.2f} Yuan/US$ (China); and {:.2f} BAHT/US$ (Thailand)', MALAYSIAmin, CHINAmin, THAILANDmin))
print(str.format('The maximum exchange rates are {:.2f} Ringgit/US$ (Malaysia); {:.2f} Yuan/US$ (China); and {:.2f} BAHT/US$ (Thailand)', MALAYSIAmax, CHINAmax, THAILANDmax))

The mean exchange rates are 3.65 Ringgit/US$ (Malaysia); 7.20 Yuan/US$ (China); and 35.52 BAHT/US$ (Thailand)
The standard deviation of rates are 0.38 Ringgit/US$ (Malaysia); 0.82 Yuan/US$ (China); and 4.56 BAHT/US$ (Thailand)
The minimum exchange rates are 2.94 Ringgit/US$ (Malaysia); 6.04 Yuan/US$ (China); and 28.60 BAHT/US$ (Thailand)
The maximum exchange rates are 4.50 Ringgit/US$ (Malaysia); 8.28 Yuan/US$ (China); and 45.82 BAHT/US$ (Thailand)

**Problem 3**: Suppose you want to take a vacation (a week) this Thanksgiving and you plan to choose one as your destination from the above three countries. After some investigation, you find the daily expense in each country is: 

1.  MALAYSIA - 300 RINGGIT/Day;
2.  CHINA - 500 Yuan/Day; 
3.  THAILAND - 2400 BAHT/Day. 

You decide to choose the destination country who has the lowest cost (in US dollars). You can use mean, max, or min to help you make the final decision. So, answer the following question in the next cell or cells: 

1.  What country is your choice?
2.  What is the total exoected cost (in US dollars)? 
3.  Discuss briefly how you made your decision (use a *Markdown* cell for this discussion).

In [8]:
# Start your solution here ... add additional cells as necessary
#Estimated cost in Malaysia for seven days
MALAYSIAcost = 300/MALAYSIAmean*7
#Estimated cost in China for seven days
CHINAcost = 500/CHINAmean*7
#Estimated cost in Thailand for seven days
THAILANDcost = 2400/THAILANDmean*7

print('The total estimated cost for travelling to Malaysia is {:.2f} USD'.format(MALAYSIAcost))
print('The total estimated cost for travelling to China is {:.2f} USD'.format(CHINAcost))
print('The total estimated cost for travelling to Thailand is {:.2f} USD'.format(THAILANDcost))

#Question 1 and 2
print('At a total expected cost of $472.97 USD for the entire 7 days, Thailand would be the best destination to vacation')

The total estimated cost for travelling to Malaysia is 575.19 USD
The total estimated cost for travelling to China is 486.07 USD
The total estimated cost for travelling to Thailand is 472.97 USD
At a total expected cost of $472.97 USD for the entire 7 days, Thailand would be the best destination to vacation

**Problem 3 Question 3**
Given the three descriptive statistics that were calculated for all three countries, the mean exchange rate is the most accurate (and stable) predictor of estimated cost. While calculating the expected cost with the minimum or maximum exchange rate value can provide a 'best' or 'worst' case scenario, the mean exchange rate is the average rate over a period of time.

In [9]:
# Create an array for SWEDEN - KRONA/US$ 
sweden = df['SWEDEN - KRONA/US$']
sweden.head()

0    8.4430
1    8.3600
2    8.3530
3    8.3675
4    8.4150
Name: SWEDEN - KRONA/US$, dtype: float64

**Problem 4**: In the next cell or cells, count the number of days where the exchange rate for Sweden was greater than 9.

In [10]:
#store sweden values as numpy array
swedenarray=sweden.values
#define exchangeday9 as the sum of swedenarray values greater than 9
exchangeday9=(swedenarray[:]>9).sum()
print('There are a total of {:} days where the exchange rate of Krona/US$ is greater than 9'.format(exchangeday9))

There are a total of 997 days where the exchange rate of Krona/US$ is greater than 9

**Problem 5**: In the next cell or cells, count the number of days where the exchange rate for Sweden was below than 8.

In [11]:
# Start your solution here ... add additional cells as necessary
#define exchangeday8 as the sum of swedenarray values less than 8
exchangeday8=(swedenarray[:]<8).sum()
print('There are a total of {:} days where the exchange rate of Krona/US$ is less than 8'.format(exchangeday8))

There are a total of 2789 days where the exchange rate of Krona/US$ is less than 8

**Problem 6**: In the next cell or cells, create masks for the 'Time Series' that "before year 2008" and "after year 2008"(include year 2008) and compute the mean, std. dev., min, and max values of of the exchange rate for Sweden that **a)** before year 2008; and **b)** after year 2008.<br>
**Hint**: You can use pd.to_datetime() to convert the string in 'Time Series' to a datetime which is comparable

In [66]:
# Start your solution here ... add additional cells as necessary
#convert 'Time Serie' string values to datetime
dates = pd.to_datetime(df['Time Serie'])
#arrange dates in array
date = dates.array

#find rows for a) before year 2008
FirstDate = '2000-01-03'
MiddleDate = '2007-12-31'
LastDate = '2019-12-31'
FirstIndex = np.where(date == FirstDate)
MiddleIndex = np.where(date == MiddleDate)
LastIndex = np.where(date == LastDate)

#Print rows for before 2008 and after 2008
print("The {}th row is for date {}'".format(FirstIndex[0][0],date[FirstIndex]))
print("The {}th row is for date {}'".format(MiddleIndex[0][0],date[MiddleIndex]))
print("The {}th row is for date {}'".format(LastIndex[0][0],date[LastIndex]))
print("Group A is between rows 0 and 2012. Group B is between rows 2013 and 5018")

The 0th row is for date <DatetimeArray>
['2000-01-03 00:00:00']
Length: 1, dtype: datetime64[ns]'
The 2012th row is for date <DatetimeArray>
['2007-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]'
The 5018th row is for date <DatetimeArray>
['2019-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]'
Group A is between rows 0 and 2012. Group B is between rows 2013 and 5018

In [76]:
#determine descriptive statistics
#Group A - Before year 2008
SwedenMeanA = sweden[FirstIndex[0][0]:MiddleIndex[0][0]+1].mean()
SwedenStdA = sweden[FirstIndex[0][0]:MiddleIndex[0][0]+1].std()
SwedenMinA = sweden[FirstIndex[0][0]:MiddleIndex[0][0]+1].min()
SwedenMaxA = sweden[FirstIndex[0][0]:MiddleIndex[0][0]+1].max()
#Group B - After year 2008
SwedenMeanB = sweden[MiddleIndex[0][0]:LastIndex[0][0]+1].mean()
SwedenStdB = sweden[MiddleIndex[0][0]:LastIndex[0][0]+1].std()
SwedenMinB = sweden[MiddleIndex[0][0]:LastIndex[0][0]+1].min()
SwedenMaxB = sweden[MiddleIndex[0][0]:LastIndex[0][0]+1].max()
print(str.format('Before the year 2008, the mean exchange rate is {:.2f} Krona/US$', SwedenMeanA))
print(str.format('Before the year 2008, the standard deviation is {:.2f} Krona/US$', SwedenStdA))
print(str.format('Before the year 2008, the minimum exchange rate is {:.2f} Krona/US$', SwedenMinA))
print(str.format('Before the year 2008, the maximum exchange rate is {:.2f} Krona/US$', SwedenMaxA))
print()
print(str.format('After the year 2008, the mean exchange rate is {:.2f} Krona/US$', SwedenMeanB))
print(str.format('After the year 2008, the standard deviation is {:.2f} Krona/US$', SwedenStdB))
print(str.format('After the year 2008, the minimum exchange rate is {:.2f} Krona/US$', SwedenMinB))
print(str.format('After the year 2008, the maximum exchange rate is {:.2f} Krona/US$', SwedenMaxB))

Before the year 2008, the mean exchange rate is 8.28 Krona/US$
Before the year 2008, the standard deviation is 1.28 Krona/US$
Before the year 2008, the minimum exchange rate is 6.24 Krona/US$
Before the year 2008, the maximum exchange rate is 11.03 Krona/US$

After the year 2008, the mean exchange rate is 7.64 Krona/US$
After the year 2008, the standard deviation is 1.07 Krona/US$
After the year 2008, the minimum exchange rate is 5.83 Krona/US$
After the year 2008, the maximum exchange rate is 9.96 Krona/US$