# 1.0 Intro to Python

This chapter focuses on the Python componemnt of the class.  We will focus exclusively on using Python for interactive data science work rather than on "programming" per se.

## Python Book
VanderPlas, J. <i>Python Data Science Handbook: Essential Tools for Working with Data</i>, O'Reilly Media, 2016.  Available on 
Amazon and at https://jakevdp.github.io/PythonDataScienceHandbook/.

Note that this is not a book that teaches Python.  Instead, it's focused on using Python for Data Science.

## Key Python Modules
We will use several common Python <i>modules</i>.  A modules is similar to a library in other lanugages.  The modules that we will use include:
<ul>
<li />NumPy
<li />Pandas
<li />SciPy
<li />Matplotlib and Seaborn
<li />Python MySQL Connector
</ul>
In addition, we will also learn how to create and use our own modules.

## Introduction to Python

In [1]:
import os
print(os.getcwd())

C:\Users\kayla\OneDrive - Auburn University\INSY6506\Github\ToolsForDataAnalyticsAndModeling2\ToolsForDataAnalyticsAndModeling\notebooks

In [2]:
print ("Hello World!")

Hello World!

In [3]:
# Unlike many languages that use {} and other start/end identifers
#   to identify blocks, Python uses intention.  
for i in range(5):
    j = i + 1
    print ("[{:}] Hello World!".format(j))

[1] Hello World!
[2] Hello World!
[3] Hello World!
[4] Hello World!
[5] Hello World!

In [43]:
for i in range(20):
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19

### Python Object types - modules, statements, expressions, objects -- Slides

### Pillars of Programming -- Slides

In [5]:
# simple implementation of the pseudo code from Slide 5 of the Intro to 
#   Python slide set.
Numbers = [123, 87, 96, 24, 104, 16, 55, 24, 19, 86, 776, 1945, 87.5, 12.34]
Total = 0
Count = 0
for Num in Numbers:
    Total = Total + Num
    Count=Count+1
if Count > 0 :
    Average = Total/Count
else :
    Average = "Can't compute the average of a sample of size 0."
print (Average)

246.77428571428572

### Initial Core Statements

In [6]:
# Assignment
x = 12
y = x + 14
z = [1, 2, 3]
# the following returns the objects as a tuple -- we'll discuss tubles/lists/sets later, but 
#   for now, think of this as a simple way to "see" the values of objects.
x, y, z

(12, 26, [1, 2, 3])

In [7]:
# Repitition
for j in [1, 2, 3, 4, 5]:
    print(j)

1
2
3
4
5

In [48]:
# Range objects (more on the Range object in the Lists section of the notes)
range(10), type(range(10)), list(range(10))

(range(1, 10), range, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [47]:
list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
for j in range(10):
    print (j)

0
1
2
3
4
5
6
7
8
9

In [53]:
# Selection
x = 5
y = 5
if x == 12:
    y = y + 1
x, y

(5, 5)

In [54]:
if x in [1, 2, 3, 4, 5]:
    y = 35
else:
    y = 50
x,y

(5, 35)

### General Concepts - Dynamically typed, Strongly typed, Mutable vs. Immutable, Namespaces -- Slides/Board

### Numbers

Numeric and math modules - https://docs.python.org/3.3/library/numeric.html

In [13]:
# Integers (ints) and floating point numbers (floats)
n1 = 3
n2 = 3.0
n1, n2

(3, 3.0)

In [14]:
n1 == n2, type(n1) == type(n2)

(True, False)

In [15]:
# Type converstion
n3 = float(n1)
n4 = int(n2)
n3, n4, type(n3), type(n4)

(3.0, 3, float, int)

In [16]:
# many built-in function in addition to the math module
import math
math.pi, math.sqrt(227)

(3.141592653589793, 15.066519173319364)

In [17]:
# show the functions in the math module
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [55]:
# Help -- use ? to see the Docstring (bottom of the browser window)
math.factorial?

In [19]:
# More on Namespaces - three different Pi constants ...
# Overlap in constants for pi -- one in each namespace
import math
import numpy as np
import scipy as sp
math.pi, np.pi, sp.pi

(3.141592653589793, 3.141592653589793, 3.141592653589793)

### Strings

Common string operations - https://docs.python.org/3.3/library/string.html

In [80]:
# Create a string object, a variable (s), and a reference from s to
#    the string object.
s = "The dog is hungry."
s

'The dog is hungry.'

In [81]:
# Individual elements of the string
s[0], s[1], s[2], s[3]

('T', 'h', 'e', ' ')

In [82]:
# string length ... Why doesn't s[len(s)] == '.'?
len(s)
#s[len(s)]

18

In [63]:
# Strings are immutable
#s[0] = 'x'
# But what if I did s = 'x' rather than s[0] = 'x'?
s = 'x'

In [69]:
# slices - s[i:j] - give me everything from i up to (but not including) j
s[4:9]

'dog i'

In [70]:
a = 6
b = len(s) - 1
s[a:b]

'g is hungry'

In [72]:
# If the intial number is blank, start at the front,
#   if the second is blank, go to the end.
#s[:3]
s[3:]

' dog is hungry.'

In [83]:
# concatenation
s + " So give her some food."
# note that this does not change s
# but what if I assinged the new object to s
#s = s + " So give her some food."
#s

'The dog is hungry. So give her some food.'

In [84]:
# find substring
s1 = s + " So give her some food."
s1.find('gry')

14

In [85]:
s1[s1.find('gry'):]

'gry. So give her some food.'

In [86]:
# replace
s1.replace('dog', 'cat')
# note that this creates a new object -- it doesn't change s1
#s1
# But if I did s1 = s1.replace('dog', 'cat'), what would happen?

'The cat is hungry. So give her some food.'

In [87]:
# split - splits a string into substrings
s2 = "eight, nine, 12, seventy, four"
s2.split(',')

['eight', ' nine', ' 12', ' seventy', ' four']

In [88]:
# chaining functions/methods
(s + " So give her some food.").split()

['The', 'dog', 'is', 'hungry.', 'So', 'give', 'her', 'some', 'food.']

In [89]:
# the easiest way to understand this is to go inside-out and left-to-right
(s + " So give her some food.").replace('.','').split()
# Python-eque code makes significant use of chaining -- can be confusing to beginners.

['The', 'dog', 'is', 'hungry', 'So', 'give', 'her', 'some', 'food']

### The format() method for string objects

https://docs.python.org/3.1/library/string.html#format-specification-mini-language

In [34]:
a= 'Jim'
b = 'Carl'
c = 'Nancy'
"{:}, {:}, and {:} are going on a trip".format(a, b, c)

'Jim, Carl, and Nancy are going on a trip'

In [35]:
# Can use modifiers to format the variable display
salary = 122000
"{:}'s salary is ${:} per year.".format(c, salary)

"Nancy's salary is $122000 per year."

In [36]:
# Fancier number (currency) formatting
"{:}'s salary is ${:,.2f} per year.".format(c, salary)

"Nancy's salary is $122,000.00 per year."

In [37]:
# use a string format to control the output format.  Note
# that this creates a string object
math.pi, "{:.4f}".format(math.pi)

(3.141592653589793, '3.1416')

In [38]:
# Can also use the round() function to achieve a similar
# result, but this function returns a numeric rather than string object
round(math.pi, 4)

3.1416

In [39]:
type("{:.4f}".format(math.pi)), type(round(math.pi,4))

(str, float)