# Sample Datasets
Most of these came from: https://opendata.socrata.com/browse

Some sample code to read csv files into Pandas DataFrames and "explore."

In [3]:
# getting things ready
import pandas as pd

# show - displays the Pandas object 
def show(data, show_data = 0):
    print ("  Index: {:}".format(data.index))
    print ("Columns: {:}".format(data.columns))
    print ("  Shape: {:}".format(data.shape))
    if show_data:
        print(data.values)

In [4]:
# Some sample datasets - all from the source above.
# Dictionary - key:actual file name
fnames = {
     "cities"    :"01_U.S._Top_25_Largest_Cities.csv"
    ,"airports"  :"02_Airport_Codes_mapped_to_Latitude_Longitude_in_the_United_States.csv"
    ,"starbucks" :"03_All_Starbucks_Locations_in_the_US_-_Map.csv"
    ,"scpay"     :"04_South_Carolina_State_Employee_Salary_Database.csv"
    ,"songs"     :"05_Top_1_000_Songs_To_Hear_Before_You_Die.csv"
    ,"bestcos"   :"06_Top_5_000_Companies_from_INC.com.csv"
    ,"accounts"  :"07_Unclaimed_bank_accounts.csv"
    ,"wh2012"    :"08_2012_Annual_Report_to_Congress_on_White_House_Staff.csv"
    ,"washconst" :"09_Completed_Construction_Projects_2005_in_Washington_DC.csv"
    ,"usecon"    :"10_us_economic_data.csv"
    ,"matches"   :"11_matches.csv"
    ,"meals"     :"12_meals.csv"
    ,"ervs"      :"13_erv.csv"
    ,"fexchange" :"14_Foreign_Exchange_Rates.csv"
    ,"gmobility" :"15_Global_Mobility_Report.csv"
}

In [5]:
# Grab a data set using the key and show the first few rows
fkey = "meals"
df = pd.read_csv("../data/"+fnames[fkey])
show(df)
df.head()

  Index: RangeIndex(start=0, stop=894, step=1)
Columns: Index(['payer', 'meal', 'party_size', 'day', 'cost', 'tip'], dtype='object')
  Shape: (894, 6)

    payer    meal  party_size  day   cost   tip
0    Male  dinner           1  Thu  15.75  3.06
1  Female   lunch           1  Mon  14.93  1.84
2    Male  dinner           1  Mon  17.23  3.37
3    Male  dinner           2  Wed  37.39  3.64
4  Female  dinner           1  Wed  18.86  3.47