# Sample Datasets
Most of these came from: https://opendata.socrata.com/browse

Some sample code to read csv files into Pandas DataFrames and "explore."

In [1]:
# getting things ready
import pandas as pd

# show - displays the Pandas object 
def show(data, show_data = 0):
    print ("  Index: {:}".format(data.index))
    print ("Columns: {:}".format(data.columns))
    print ("  Shape: {:}".format(data.shape))
    if show_data:
        print(data.values)

print("Pandas version: {:}".format(pd.__version__))

Pandas version: 1.0.5

In [2]:
# Some sample datasets - all from the source above.
# Dictionary - key:actual file name
fnames = {
     "cities"    :"01_U.S._Top_25_Largest_Cities.csv"
    ,"airports"  :"02_Airport_Codes_mapped_to_Latitude_Longitude_in_the_United_States.csv"
    ,"starbucks" :"03_All_Starbucks_Locations_in_the_US_-_Map.csv"
    ,"scpay"     :"04_South_Carolina_State_Employee_Salary_Database.csv"
    ,"songs"     :"05_Top_1_000_Songs_To_Hear_Before_You_Die.csv"
    ,"bestcos"   :"06_Top_5_000_Companies_from_INC.com.csv"
    ,"accounts"  :"07_Unclaimed_bank_accounts.csv"
    ,"wh2012"    :"08_2012_Annual_Report_to_Congress_on_White_House_Staff.csv"
    ,"washconst" :"09_Completed_Construction_Projects_2005_in_Washington_DC.csv"
    ,"usecon"    :"10_us_economic_data.csv"
    ,"matches"   :"11_matches.csv"
    ,"meals"     :"12_meals.csv"
    ,"ervs"      :"13_erv.csv"
    ,"fexchange" :"14_Foreign_Exchange_Rates.csv"
    ,"gmobility" :"15_Global_Mobility_Report.csv"
    ,"shoppers"  :"16_online_shoppers_purchasing_intention.csv"
}

In [3]:
# Grab a data set using the key and show the first few rows
fkey = "shoppers"
df = pd.read_csv("../data/"+fnames[fkey])
show(df)
df.head()

  Index: RangeIndex(start=0, stop=12330, step=1)
Columns: Index(['Index', 'Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType',
       'Weekend', 'Revenue'],
      dtype='object')
  Shape: (12330, 19)

,Index,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [4]:
for col in df.columns:
    print ("{:} ({:})".format(col,df[col].dtype))

Index (int64)
Administrative (int64)
Administrative_Duration (float64)
Informational (int64)
Informational_Duration (float64)
ProductRelated (int64)
ProductRelated_Duration (float64)
BounceRates (float64)
ExitRates (float64)
PageValues (float64)
SpecialDay (float64)
Month (object)
OperatingSystems (int64)
Browser (int64)
Region (int64)
TrafficType (int64)
VisitorType (object)
Weekend (bool)
Revenue (bool)